{% extends 'admin.base' %}

{% block title %}材质审核
{% endblock %}

{% block content %}

		<script>
			window.data = {{ records|json_encode|raw }}
			window.states = {{ states|json_encode|raw }}
		</script>
	<div class="row" id="moderation_root">
	</div>
{% endblock %}
